@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
  box-sizing: border-box;
}

.content{
  overflow: scroll;
}

.app{
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track{
  background: #e0e0e0;
}

/* Handle */

::-webkit-scrollbar-thumb{
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover{
  background: #555;
}

.menu1{
  margin-top: 20px;
}

.active{
  color: blue;
}

.sidebar{
  color:#000;
  background-color: #a8d5e5;
  height: 100vh;
}